<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Learning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1 style="text-align: center; padding-bottom: 150px;">Ajoutez votre cours</h1>

    <div class="container" style="width: 500px;" id="addcours">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">titre</label>
                <input v-model="titre" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Entrer titre">
            </div>
            <div class="form-group" style="padding-bottom: 40px; padding-top: 30px;">
                <label for="exampleFormControlFile1">Image</label>
                <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1" ref="file" v-on:change="handlefile()" accept=".png, .jpg, .jpeg, .pdf">
            </div>
            <div class="form-group">
                <label for="description">description</label>
                <textarea v-model="description" class="form-control" id="description" placeholder="description"></textarea>
            </div>
            <hr>


            <button v-if="!is_submited" v-on:click="addCours" class="btn btn-primary">Envoyer</button>
        </form>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <script>
        new Vue({
            el: '#addcours',
            data: {
                titre: "",
                description: "",
                file: '',
                is_submited: false,
            },
            delimiters: ["${", "}"],
            methods: {
                handlefile: function(){
                    this.file = this.$refs.file.files[0];
                    // console.log(this.file)
                },

                addCours: function() {
                    if (!this.titre) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Veuillez remplir le champs Titre.</h4>',
                        });
                    }
                    else if (!this.description) {
                        Swal.fire({
                            icon: 'warning',
                            html: '<h4>Veuillez remplir le champs description.</h4>',
                        });
                    }
                    else if (this.file == "" ) {
                            
                            Swal.fire({
                                icon: 'warning',
                                html: '<h4>charger une image</h4>',
                            });
                            this.imageerror = true;
                            this.imageisregister = false;
                        }
                    else {
                        this.is_submited = true
                        let formData = new FormData();
                        formData.append('titre', this.titre);
                        formData.append('description', this.description);
                        formData.append('file', this.file);
                        axios.defaults.xsrfCookieName = 'csrftoken';
                        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
                        axios.post("{% url 'addCoursApi' %}", formData, {
                            headers: {
                                        'Content-Type': 'multipart/form-data',
                                    }
                        })
                        .then((response) => {
                            if (response.data.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: response.data.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                // console.log(response.data.url)
                                window.location.replace(response.data.url)
                                this.is_submited = false
    
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: response.data.message,
                                    // timer: 2000
                                });
                                console.log(response.data)
                                this.is_submited = false
                            }
                        })
                        .catch((err) => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Une erreur est survenu veuillez reessayer',
                                footer: "<a href>Les developpeurs s'excusent pour les desagrements?</a>",
                                timer: 3000
                            });
                            console.log(err);
                            this.is_submited = false
                        })
                    }
                }
            },
        })
    </script>
</body>

</html>