<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Learning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <h1 style="text-align: center; padding-bottom: 150px;">Chapitre {{ chapitre.titre }}</h1>

    <div class="jumbotron">
        <h1 class="display-4">{{ chapitre.titre }}</h1>
        <p class="lead">{{ chapitre.description }}</p>
        
    </div>

    


</body>
</html>