<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Learning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center; padding-bottom: 150px;">Bienvenu Mr {{ request.user }} </h1>
        <button class="btn btn-primary" style="float: right;"> <a href="{% url 'logout' %}" style="color: white;"> Se
                deconnecter</a></button>
    </div>

<!-- les trois premiers cours recents -->
<div class="container">
    <h4 style="padding-bottom: 20px;">Mes Cours</h4>
    <button type="button" class="btn btn-primary"><a href="{% url 'addAdmin' %}" style="color: white;"> Ajouter des cours</a></button>
    <div class="row" style="padding-top: 20px;">
        
        {% for cours in mesCours %}
        <div class="card col-md-4" style="width: 18rem;">
            <img src="{{ cours.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ cours.titre }}</h5>
                    <b>ajoute:{{ cours.date_add }}</b>
                    <p class="card-text">{{ cours.description|truncatewords:10 }}</p>
                    <p>
                        <b>
                            Par:{{ cours.formateur }}

                        </b>
                    </p>
                    <a href="{% url 'chapitre' cours.slug %}" class="btn btn-primary">lire la suite</a>
                </div>
        </div>
        {% endfor %}
        
    </div>

    
</div>
    


</body>
</html>